@{
    ViewBag.Title = "Orders";
}

<body>

    <b class="screen-overlay"></b>

    <!-- ========================= PHẦN TIÊU ĐỀ TRANG ========================= -->
    <section class="section-pagetop bg-gray">
        <div class="container">
            <h2 class="title-page">Tài khoản của tôi</h2>
        </div> <!-- container //  -->
    </section>
    <!-- ========================= PHẦN TIÊU ĐỀ TRANG KẾT THÚC// ========================= -->
    <!-- ========================= PHẦN NỘI DUNG ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item active" href="@Url.Action("Main", "Profile")"> Tổng quan tài khoản  </a>
                        <a class="list-group-item" href="@Url.Action("Address", "Profile")"> Địa chỉ của tôi </a>
                        <a class="list-group-item" href="@Url.Action("Orders", "Profile")"> Đơn hàng của tôi </a>
                        <a class="list-group-item" href="@Url.Action("Wishlist", "Profile")"> Danh sách yêu thích của tôi </a>
                        <a class="list-group-item" href="@Url.Action("Seller", "Profile")"> Các mặt hàng tôi bán </a>
                        <a class="list-group-item" href="@Url.Action("Setting", "Profile")"> Cài đặt </a>
                        <a class="list-group-item" href="@Url.Action("Login", "User")"> Đăng xuất </a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <article class="card mb-4">
                        <header class="card-header">
                            <a href="#" class="float-right"> <i class="fa fa-print"></i> In</a>
                            <strong class="d-inline-block mr-3">Mã đơn hàng: 6123456789</strong>
                            <span>Ngày đặt hàng: 16 tháng 12 năm 2018</span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-muted">Giao đến</h6>
                                    <p>
                                        Michael Jackson <br>
                                        Số điện thoại +1234567890 Email: myname@gmail.com <br>
                                        Địa chỉ: Số nhà, Tên tòa nhà, Đường 123, <br>
                                        Hộp thư P.O.: 100123
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Thanh toán</h6>
                                    <span class="text-success">
                                        <i class="fab fa-lg fa-cc-visa"></i>
                                        Visa  **** 4216
                                    </span>
                                    <p>
                                        Tổng phụ: $356 <br>
                                        Phí vận chuyển:  $56 <br>
                                        <span class="b">Tổng cộng:  $456 </span>
                                    </p>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td width="65">
                                            <img src="~/Content/images/items/1.jpg" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">Tên sản phẩm ở đây </p>
                                            <var class="price text-muted">USD 145</var>
                                        </td>
                                        <td> Người bán <br> Nike clothing </td>
                                        <td width="250">
                                            <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thêm</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Trả lại</a>
                                                    <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                                </div>
                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/images/items/2.jpg" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">Tên sản phẩm khác ở đây </p>
                                            <var class="price text-muted">USD 15</var>
                                        </td>
                                        <td> Người bán <br> ABC shop </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thêm</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Trả lại</a>
                                                    <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                                </div>
                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/images/items/3.jpg" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">Tên sản phẩm 3 ở đây </p>
                                            <var class="price text-muted">USD 145</var>
                                        </td>
                                        <td> Người bán <br> Wallmart </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thêm</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Trả lại</a>
                                                    <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                                </div>
                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </article> <!-- card order-item .// -->

                    <article class="card order-item mb-4">
                        <header class="card-header">
                            <a href="#" class="float-right"> <i class="fa fa-print"></i> In</a>
                            <strong class="d-inline-block mr-3">Mã đơn hàng: 6123456789</strong>
                            <span>Ngày đặt hàng: 16 tháng 12 năm 2018</span>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-muted">Giao đến</h6>
                                    <p>
                                        Michael Jackson <br>
                                        Số điện thoại +1234567890 Email: myname@pixsellz.com <br>
                                        Địa chỉ: Số nhà, Tên tòa nhà, Đường 123,  Tashkent, UZB <br>
                                        Hộp thư P.O.: 100123
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Thanh toán</h6>
                                    <span class="text-success">
                                        <i class="fab fa-lg fa-cc-visa"></i>
                                        Visa  **** 4216
                                    </span>
                                    <p>
                                        Tổng phụ: $356 <br>
                                        Phí vận chuyển:  $56 <br>
                                        <span class="b">Tổng cộng:  $456 </span>
                                    </p>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td width="65">
                                            <img src="~/Content/images/items/1.jpg" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">Tên sản phẩm ở đây </p>
                                            <var class="price text-muted">USD 145</var>
                                        </td>
                                        <td> Người bán <br> Nike clothing </td>
                                        <td width="250">
                                            <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thêm</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Trả lại</a>
                                                    <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                                </div>
                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/Content/images/items/2.jpg" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">Tên sản phẩm khác ở đây </p>
                                            <var class="price text-muted">USD 15</var>
                                        </td>
                                        <td> Người bán <br> ABC shop </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-primary">Theo dõi đơn hàng</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thêm</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="#" class="dropdown-item">Trả lại</a>
                                                    <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                                </div>
                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </article> <!-- card order-item .// -->


                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= PHẦN NỘI DUNG KẾT THÚC// ========================= -->
</body>
</html>